BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
PackConstructorInitializers: Never
SortIncludes: false
InsertBraces: true
DerivePointerAlignment: false
PointerAlignment: Left
InsertNewlineAtEOF: true
